@import '~node_modules/modern-normalize/modern-normalize.css';

html,
body {
  height: 100%;
};

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

  @media screen and (min-width: 1200px) {
    scroll-padding-top: 216px;
  };  
};

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
};

.no-scroll {
  overflow: hidden;
};

main {
  flex-grow: 1;
};

body {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 12px;
  color: var(--color-black);
};

section {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  };
};