<div class="container form-wrapper visually-hidden">
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked />
      <label for="login" class="slide login">Login</label>

      <input type="radio" name="slide" id="signup" />
      <label for="signup" class="slide signup">Signup</label>

      <div class="slider-tab"></div>
    </div>

    <div class="form-inner">
      <form class="login">
        <div class="field">
          <input
            class="field__input"
            id="login-form-email"
            type="text"
            placeholder="Email Address"
            required
          />
        </div>
        <div class="field">
          <input
            class="field__input"
            id="login-form-password"
            type="password"
            placeholder="Password"
            autocomplete="off"
            required
          />
        </div>

        <button class="field__btn" type="submit">Login</button>

        <div class="signup-link">
          Not registered?
          <a class="signup-text" href="">Signup now</a>
        </div>
      </form>

      <form class="signup">
        <div class="field">
          <input
            class="field__input"
            id="signup-form-email"
            type="text"
            placeholder="Email Address"
            required
          />
        </div>
        <div class="field">
          <input
            class="field__input"
            id="signup-form-password"
            type="password"
            placeholder="Password"
            autocomplete="off"
            required
          />
        </div>
        <div class="field">
          <input
            class="field__input"
            id="signup-form-password-confirm"
            type="password"
            placeholder="Confirm Password"
            autocomplete="off"
            required
          />
        </div>

        <button class="field__btn" type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>
