<div class="container form-wrapper">
  <!-- <div class="form-title title-text">
    <div class="form-title__name login">Login Form</div>
    <div class="form-title__name signup">Signup Form</div>
  </div> -->

  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked />
      <label for="login" class="slide login">Login</label>

      <input type="radio" name="slide" id="signup" />
      <label for="signup" class="slide signup">Signup</label>

      <div class="slider-tab"></div>
    </div>

    <div class="form-inner">
      <form class="login">
        <div class="field">
          <input
            class="field__input"
            type="text"
            placeholder="Email Address"
            required
          />
        </div>
        <div class="field">
          <input
            class="field__input"
            type="password"
            placeholder="Password"
            required
          />
        </div>

        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Login" />
        </div>

        <div class="signup-link">
          Not registered?
          <a href="">Signup now</a>
        </div>
      </form>

      <form class="signup">
        <div class="field">
          <input
            class="field__input"
            type="text"
            placeholder="Email Address"
            required
          />
        </div>
        <div class="field">
          <input
            class="field__input"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="field">
          <input
            class="field__input"
            type="password"
            placeholder="Confirm password"
            required
          />
        </div>

        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="Signup" />
        </div>
      </form>
    </div>
  </div>
</div>
