<div class="play-trailer">
  <button class="play-trailer-btn" type="button">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
      x="0px"
      y="0px"
      width="108px"
      height="108px"
      viewBox="0 0 108 108"
      enable-background="new 0 0 108 108"
      xml:space="preserve"
    >
      <polygon
        class="triangle"
        id="XMLID_18_"
        fill="none"
        stroke-width="5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-miterlimit="10"
        points="43.75,35.25 74.25,56.9 43.75,78.55"
      />

      <circle
        class="circle"
        id="XMLID_17_"
        fill="none"
        stroke-width="5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-miterlimit="10"
        cx="54"
        cy="54"
        r="51.6"
      />
    </svg>
  </button>
</div>
