<div class="container">
  <fieldset
    class="theme-switcher"
    aria-label="theme switcher"
    role="radiogroup"
  >
    <legend>
      <h3 class="visually-hidden">Choose a Theme</h3>
    </legend>

    <div class="c-toggle">
      <div class="input-wrapper">
        <input type="radio" name="theme" id="light" value="light" checked />
        <label for="light" data-color="light">
          <span class="visually-hidden">Light</span>
        </label>
      </div>

      <div class="input-wrapper">
        <input type="radio" name="theme" id="dark" value="dark" />
        <label for="dark" data-color="dark">
          <span class="visually-hidden">Dark</span>
        </label>
      </div>

      <div class="input-wrapper">
        <input
          type="radio"
          name="theme"
          id="accent-primary"
          value="accent-primary"
        />
        <label for="accent-primary" data-color="accent-primary">
          <span class="visually-hidden">Accent primary</span>
        </label>
      </div>
    </div>
  </fieldset>
</div>
