:root {
  --font-family-primary: 'Roboto', sans-serif;
  
  --bg-color-header-fallback: rgba(0, 0, 0, 0.44);
  --bg-color-backdrop: rgba(0, 0, 0, 0.6);
  
  --border-color-card: #EEEEEE;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #545454;
  --color-light-grey: #F7F7F7;
  --color-accent-primary: #FF001B;
  --color-accent-secondary: #FF6B08; 
  
  --bg-color-theme-light: #EEEEEE;
  --bg-color-theme-dark: #4A4A4A;
  --bg-color-theme-accent-dark: radial-gradient(
    circle at 100%,
    rgba(31, 31, 31, 1)  35%,
    rgba(255, 107, 8, 1) 50%,
    rgba(255, 0, 27, 1)  60%,
    rgba(31, 31, 31, 1)  75%);
  --bg-color-theme-accent-dark-btn: linear-gradient(
    90deg,
    rgba(255, 0, 27, 1) 0%,
    rgba(31, 31, 31, 1) 50%,
    rgba(255, 107, 8, 1) 100%);

  --font-color-grey: #8C8C8C;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function-form: cubic-bezier(0.68, -0.55, 0.265, 1.55);
};