<section class="gallery">
  <div class="container">
    <div class="gallery-home trending-movies">
      <h2 class="visually-hidden">Trending movies</h2>

      <ul class="gallery-home__list list"></ul>

      <div
        class="pagination pagination-trending-movies"
        js-pagination-trending-movies
      ></div>
    </div>

    <div class="gallery-home search-movies">
      <h2 class="visually-hidden">Search movies</h2>

      <ul class="gallery-home__list list"></ul>

      <div
        class="pagination pagination-search-movies"
        js-pagination-search-movies
      ></div>
    </div>
  </div>
</section>
