<section class="gallery-box">
  <div class="container">
    <div class="gallery trending-movies" data-modal-open-path="js-movie-card">
      <h2 class="visually-hidden">Trending movies</h2>

      <ul class="gallery__list gallery__trending-list list"></ul>

      <div
        class="pagination pagination-trending-movies"
        data-pagination-trending-movies
      ></div>
    </div>

    <div class="gallery search-movies" data-modal-open-path="js-movie-card">
      <h2 class="visually-hidden">Search movies</h2>

      <ul class="gallery__list gallery__search-list list"></ul>

      <div
        class="pagination pagination-search-movies"
        data-pagination-search-movies
      ></div>
    </div>

    <div class="gallery queue-list" data-modal-open-path="js-movie-card">
      <h2 class="visually-hidden">Queue list</h2>

      <ul class="gallery__list gallery__queue-list list"></ul>

      <div class="pagination pagination-queue-list"></div>
    </div>

    <div class="gallery watched-list" data-modal-open-path="js-movie-card">
      <h2 class="visually-hidden">Watched list</h2>

      <ul class="gallery__list gallery__watched-list list"></ul>

      <div class="pagination pagination-watched-list"></div>
    </div>
  </div>
</section>
