<header class="header">
  <div class="container">
    <nav class="menu-nav">
      <a class="logo link" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icons/sprite.svg#icon-filmoteka-logo"></use>
        </svg>
        <span class="logo__text">filmoteka</span>
      </a>

      <ul class="menu-nav__list list">
        <li class="menu-nav__item">
          <a
            class="menu-nav__link link current"
            id="home-page-link"
            href="./index.html"
          >
            home
          </a>
        </li>

        <li class="menu-nav__item">
          <a class="menu-nav__link link" id="library-page-link" href="#">
            my library
          </a>
        </li>
      </ul>
    </nav>

    <form class="search-form" id="search-form">
      <input
        class="search-form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />

      <button class="search-form__btn" type="submit">
        <svg class="search-form__icon" width="12" height="12">
          <use href="./images/icons/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="search-form__notification"></div>

    <ul class="library-btn-list list visually-hidden">
      <li class="library-btn-list__item">
        <button
          class="library-btn-list__btn active"
          id="queue-btn-filter"
          type="button"
        >
          Queue
        </button>
      </li>
      <li class="library-btn-list__item">
        <button
          class="library-btn-list__btn"
          id="watched-btn-filter"
          type="button"
        >
          Watched
        </button>
      </li>
    </ul>
  </div>
</header>
