.form-wrapper {
  overflow: hidden;
  max-width: 280px;
  padding: 20px;
  margin: 60px auto;

  background-color: var(--color-light-grey);
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
              0px 4px 4px rgba(0, 0, 0, 0.06),
              1px 4px 6px rgba(0, 0, 0, 0.16);

  & .form-container {
    width: 100%;
    overflow: hidden;
  };
};

.form-title {
  display: flex;
  width: 200%;

  &__name {
    width: 50%;
    @include font(500, 24px, 30px, 0.04em);
    text-transform: uppercase;
    text-align: center;
  };
};

.slide-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  overflow: hidden;

  & .slide {
    height: 100%;
    width: 100%;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  };

  & .login,
  & .signup {
    color: var(--color-black);
  };

  & .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #FF001B, #FF6B08);
    transition: all 1000ms var(--timing-function-form);
  };
};

input[type="radio"] {
  display: none;
};

#login {
  color: var(--color-black);
};

#signup:checked ~ .slider-tab {
  left: 50%;
};

#signup:checked ~ .signup,
#login:checked ~ .login {
  color: var(--color-white);
  cursor: default;
  user-select: none;
};

#signup:checked ~ .login,
#login:checked  ~ .signup {
  color: var(--color-black);
};

.form-inner {
  display: flex;
  width: 200%;

  & form {
    width: 50%;
    transition: all 1500ms var(--timing-function-form);
  };
}; 

.field {
  height: 30px;
  width: 100%;
  margin-top: 15px;

  &__input {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;

    background-color: var(--color-white);
    border-radius: 5px;
    border: 1px solid var(--border-color-card);
    
    outline: none;
    transition: all 0.3s ease;
  };

  &__input:hover,
  &__input:focus {
    border-color: var(--color-accent-primary);
  };

  &__input::placeholder {
    color: var(--color-grey);
  };

  &__input:focus::placeholder {
    color: var(--color-accent-primary);
  };

  &__btn {
    height: 30px;
    width: 100%;
    margin-top: 30px;

    @include font(500, 18px, 24px, 0);
    color: var(--color-accent-primary);

    background-color: var(--color-white);
    border: 1px solid var(--color-accent-primary);
    border-radius: 5px;
    
    cursor: pointer;
    transition: background-color var(--duration) var(--timing-function),
                color            var(--duration) var(--timing-function);

    &:hover {
      background-color: var(--color-accent-primary);
      color: var(--color-white);
    };
  };
};

.signup-link {
  margin-top: 30px;
  text-align: center;  
};

.signup-text {
  color: var(--color-accent-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  };
};