.library-flag {
  position: fixed;
  right: -182px;
  top: 10px;

  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--color-white);

  & ul {
    padding: 0px;
    transform: translate(0, 0);    
  };

  & ul p {
    display: inline;
    font-size: 14px;
  };

  & ul li b {
    padding-left: 90px;
  };

  & ul li:hover b {
    padding-left: 0;
  };

  & ul li {
    display: block;
    margin: 5px;
    background-color: var(--color-accent-secondary);
    width: 200px;
    text-align: left;
    padding: 8px 6px;
    border-radius: 5px 0 0 5px;
    transition: all 1s;
  };

  & ul li:hover {
    transform: translate(-60px, 0);
    background-color: var(--color-accent-primary);
  };
};