.logo {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--color-white);
  cursor: pointer;
  fill: currentColor;  

  transition: color var(--duration) var(--timing-function),
              fill  var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent-primary);  
    fill: currentColor;
  };

  &__icon {
    transform: translateY(2);
    animation: logoAnimation 3s infinite;

    @keyframes logoAnimation {
      0%   { transform: scale(1.0); };
      20%  { transform: scale(1.5); };
      40%  { transform: scale(1.3); };
      60%  { transform: scale(1.5); };
      80%  { transform: scale(1.0); };
      100% { transform: scale(1.0); };
    };
  };  

  &__text {
    margin-left: 10px;
    @include font(inherit, 30px, 35px, 0em);
    text-transform: capitalize;
  };  

  @media screen and (max-width: 767px) {
    &__text {
      display: none;
    };
  };
};