.logo {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;

  color: var(--color-white);
  cursor: pointer;
  fill: currentColor;

  transition: color var(--duration) var(--timing-function),
              fill  var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent-primary);  
    fill: currentColor;
  };

  &__icon {
    transform: translateY(2);
  };

  &__text {
    margin-left: 10px;
    @include font(inherit, 30px, 35px, 0em);
    text-transform: capitalize;
  };  

  @media screen and (max-width: 767px) {
    &__text {
      display: none;
    };
  };
};