.search-form {
  position: relative;
  width: 280px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-top: 20px;
    width: 336px;
  };

  @media screen and (min-width: 1280px) {
    margin-top: 10px;
    width: 394px;
  };

  &__input {
    width: 100%;
    padding: 0 2px 3px;

    @include font(400, 14px, 16px, 0em);    
    color: var(--color-white);

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-white);
    
    outline: none;

    transition: border var(--duration) var(--timing-function);

    &:hover,
    &:focus {
      border-bottom: 1px solid var(--color-accent-primary);
    };

    &::placeholder {
      @include font(400, 14px, 16px, 0em);
      color: var(--color-white);
    };
  };

  &__btn{
    position: absolute;
    right: 0;
    bottom: 1px;

    cursor: pointer;    
  };

  &__icon {
    fill: var(--color-white);
    transition: fill var(--duration) var(--timing-function);

    &:hover,
    &:focus {
      fill: var(--color-accent-primary);
    };
  };

  &__notification {
    width: 280px;
    margin: 16px auto 0;    
    text-align: center;

    @include font(400, 14px, 16px, 0em);
    color: var(--color-accent-primary);

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-top: 20px;
      width: 336px;
    };

    @media screen and (min-width: 1280px) {
      margin-top: 20px;
      width: 394px;
    };
  };
};