fieldset {
  border: none;
  padding: 0;  
};

main {
  min-height: 260px;
  transition: background-color 2000ms var(--timing-function);

  & .gallery__queue-list > li > p,
  & .gallery__watched-list > li > p {
    position: absolute;
    min-width: 260px;
    left: 50%;
    text-align: center;
    @include font(400, 16px, 22px, 0.08em);
    transform: translateX(-50%);
  };

  & .gallery__queue-list > li > p a,
  & .gallery__watched-list > li > p a {
    text-decoration: underline;
    color: var(--color-accent-primary);
  };

  &[data-theme="light"] {
    background-color: var(--bg-color-theme-light);
  };

  &[data-theme="dark"] {
    background-color: var(--bg-color-theme-dark);

    & .gallery__queue-list > li > p,
    & .gallery__watched-list > li > p {
      color: var(--color-white);
    };
  };

  &[data-theme="accent-dark"] {
    background: var(--bg-color-theme-accent-dark);  
    
    & .gallery__queue-list > li > p,
    & .gallery__watched-list > li > p {
      color: var(--color-white);
    };
  };  
};

footer {
  &[data-theme="dark"] {
    background-color: var(--color-black);

    & .footer__box {
      color: var(--color-white);
    };
  };

  &[data-theme="accent-dark"] {
    background-color: var(--color-black);

    & .footer__box {
      color: var(--color-white);
    };
  };
};

.c-toggle {
  text-align: center;
};

.theme-switcher {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
};

.theme-switcher .input-wrapper {
  position: relative;
  width: 35px;
  height: 3px;
  display: inline-block;
  margin: 10px 5px;
  border-radius: 3px;  
};

.theme-switcher label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;

  &[data-color="light"] {
    background-color: var(--bg-color-theme-light);
  };

  &[data-color="dark"] {
    background-color: var(--bg-color-theme-dark);
  };

  &[data-color="accent-dark"] {
    background: var(--bg-color-theme-accent-dark-btn);
  };
};

.theme-switcher input[type="radio"] {
  position: absolute;
  top: -5px;
  left: 0;  
  width: 100%;
  height: 20px;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;

  &:checked + label {
    transform: scaleY(1.8);
  };

  &:focus + label {
    transform: scaleY(1.8);
  };
};