.header-home {
  min-width: 320px;
  min-height: 230px;  
  padding-top: 20px;
  padding-bottom: 44px;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/header/bg-img-header-home-mobile.png');
  background-color: var(--bg-color-header-fallback);

  @media screen and (min-device-pixel-ratio: 2),
         screen and (min-resolution: 192dpi),
         screen and (min-resolution: 2dppx) {
    
    background-image: url('../images/header/bg-img-header-home-mobile@2x.png');    
  };

  @media screen and (min-device-pixel-ratio: 3),
         screen and (min-resolution: 288dpi),
         screen and (min-resolution: 3dppx) {
    
    background-image: url('../images/header/bg-img-header-home-mobile@3x.png');    
  };

  // TABLET
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    min-width: 768px;
    min-height: 216px;

    background-image: url('../images/header/bg-img-header-home-tablet.png');

    @media screen and (min-device-pixel-ratio: 2),
           screen and (min-resolution: 192dpi),
           screen and (min-resolution: 2dppx) {
      
      background-image: url('../images/header/bg-img-header-home-tablet@2x.png');    
    };

    @media screen and (min-device-pixel-ratio: 3),
           screen and (min-resolution: 288dpi),
           screen and (min-resolution: 3dppx) {
      
      background-image: url('../images/header/bg-img-header-home-tablet@3x.png');    
    };
  };

  // DESKTOP
  @media screen and (min-width: 1280px) {
    min-width: 1280px;
    min-height: 216px;

    background-image: url('../images/header/bg-img-header-home-desktop.png');

    @media screen and (min-device-pixel-ratio: 2),
           screen and (min-resolution: 192dpi),
           screen and (min-resolution: 2dppx) {
      
      background-image: url('../images/header/bg-img-header-home-desktop@2x.png');    
    };

    @media screen and (min-device-pixel-ratio: 3),
           screen and (min-resolution: 288dpi),
           screen and (min-resolution: 3dppx) {
      
      background-image: url('../images/header/bg-img-header-home-desktop@3x.png');    
    };
  };
};

.menu-nav {
  @include align(flex, space-between, center);

  &__list {
    @include align(flex, center, center);
  };

  &__item:first-child {
    margin-right: 40px;
  };

  &__link {
    position: relative;

    padding-top: 10px;
    padding-bottom: 3px;

    color: var(--color-white);
    text-transform: uppercase;

    transition: color var(--duration) var(--timing-function);

    &::after {
      content: '';

      position: absolute;
      bottom: 0;

      display: block;
      width: 100%;
      height: 3px;

      background-color: var(--color-accent-primary);
      transform: scaleX(0);
      transition: transform var(--duration) var(--timing-function);
    };

    &.current:after,
    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    };
  };
};

.search-form {
  position: relative;
  width: 280px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: 336px;
  };

  @media screen and (min-width: 1280px) {
    width: 394px;
  };

  &__input {
    width: 100%;
    padding: 0 2px 3px;

    @include font(400, 14px, 16px, 0em);    
    color: var(--color-white);

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-white);
    
    outline: none;

    &::placeholder {
      @include font(400, 14px, 16px, 0em);
      color: var(--color-white);
    };
  };

  &__btn{
    position: absolute;
    right: 0;
    bottom: 1px;
  };

  &__icon {
    fill: var(--color-white);
  };
};